<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>

  <h2> Cards <h2>
  <div class="items"> 

    <%= f.nested_fields_for :cards, item_template_class: "template item card-template" do |ff| %>
      <div class="item">
        <%= ff.hidden_field :id %>
        <%= ff.hidden_field :_destroy %>

        <%= ff.label :term %>
        <%= ff.text_field :term %>

        <%= ff.label :definition %>
        <%= ff.text_field :definition %> 
        <a href="#" class="remove">Remove card </a>
      </div>
    <% end %>
  </div>
  <a href="#" class="add">Add card </a>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>