<%= simple_form_for @deck do |f| %>
  <%= f.input :name %>
  <%= f.input :subject %>
  <h3 id = "cards"> Cards </h3>
    <%= f.simple_fields_for :cards do |card| %>
      <%= render 'card_fields', :f => card %>
    <p> links </p>
      <%= link_to_add_association 'add card', f, :cards %>
  <%= f.submit %>
  <% end %>
  <% end %>


