<%= render 'header' %>
<div class = "secondheader">
<h2><%= @deck.name %> Deck </h2>
</div>


<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<p id="notice"><%= notice %></p>

<div class = "mamasection">

		<div class = "gensection">
		<h3> General Information </h3>
		<p>
		  <b>Subject:</b>
		  <%= @deck.subject %>
		</p>

		<p>
		  <b>Times reviewed:</b>
		  <%= @deck.times_reviewed %>
		</p>

		<p>
		  <b>Results:</b>
		  <%= @deck.results %>
		</p>
		</div>

	<div class = "gensection">
		<h3> Options</h3>
		<p> Take Recall Quiz</p>
		<p> Take Multiple Choice Quiz</p>
		</div>


</div>

<hr> 

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
<%= link_to 'Add Cards', new_card_path %><div class = "tablesupport">
<table>
  <tr>
    <th>Term</th>
    <th>Definition</th>
    <th>Results</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deck.cards.each do |deck| %>
  <tr>
    <td><%= deck.term %></td>
    <td><%= deck.definition %></td>
    <td><%= link_to 'Show', deck %></td>
    <td><%= link_to 'Edit', edit_deck_path(deck) %></td>
    <td><%= link_to 'Destroy', deck, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>


